.spot {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 60px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1330px;
  height: 100%;
}

.box {
  margin-left: 138px;
  display: flex;
  flex-direction: row;
  justify-content:  flex-start;
}