.links {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 48px;

  position: absolute;
  width: 462px;
  height: 20px;
  //left: 840px;
  right: 136px;
  top: 62px;

  float: right;

  .link {
  }
}
