.email {
  position: absolute;
  width: 114px;
  height: 20px;
  right: 138px;
  top: 34px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-align: right;

  color: #888888;
}
