.header {
    position: fixed;
    //position: absolute;
    width: 1440px;
    height: 88px;
    left: 0px;
    top: 0px;
    background: #da1212;
  }


.main {
  position: absolute;
  left: 240px;
  top: 64px;
}

.footer {
    position: absolute;
    width: 1440px;
    height: 228px;
    left: 0px;
    top: 1658px;
    background: #011846;
  }
  