.copyright {
  position: absolute;
  width: 220px;
  height: 20px;
  left: 138px;
  top: 160px;

  //font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  color: rgba(255, 255, 255, 0.8);
}
