.footer {
  width: 100%;
  height: 228px;
  left: 0px;
  background: #011846;
  font-family: 'Montserrat';
}

.footer__container {
  padding-top: 52px;
  display: flex;
  flex-direction: column;
  height: 158px;
}

.footer__top_container {
  padding-left: 138px;
  padding-right: 138px;
  margin-bottom: 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.footer__bottom_container {
  padding-left: 138px;
  padding-right: 138px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.copyright {
  width: 220px;
  height: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.8);
}

.links {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 48px;
  width: 462px;
  height: 20px;
}