.footer {
  position: absolute;
  //width: 1440px;
  width: 100%;
  height: 228px;
  left: 0px;
  top: 1658px;
  background: #011846;
  font-family: 'Montserrat';

  .links{
    margin: 64px 0px 0px 0px;

  }
}
