.spot {
  position: sticky;
  top: 0px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background: #F6F9FF;
}

.filter__container {
  //position:sticky;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 1330px;
  height: 100%;

}


.box {
  margin-left: 138px;
  //border: 1px solid black;
  // width:100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.select__container {
  
  display: flex;
  // width: 335px;
  // height: 52px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 21px;
  left: 0px;
  top: 634px;
  //background: #f6f9ff;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}
.select__select_icon {
  margin-left: 19.33px;
  margin-right: 13.33px;
  
}
.select {
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none;

  width: 243px;
  height: 20px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: #888888;
  background: url("./select_icon.svg");

  /* Inside auto layout */
  .option {
    border: none;
    outline: none;
    border: 0px solid white;
  }
}

.select:not([multiple]) {
  padding-right: 1.2em;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.25em) 0.35em;
  background-size: 0.85em auto;
  background-image: url("./select_icon.svg");
}

.input__container {
  display: flex;
  margin-left: 20px;
  
  padding: 16px;
  // padding-top: 16px;
  // padding-bottom: 16px;
  background: #FFFFFF;
  border-radius: 10px;
}

.input__from {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: #888888;

  border: none;
  outline: none;
}

.input__divider {
  margin-left: 20px;
  margin-right: 20px;
}

.input__to {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: #888888;

  border: none;
  outline: none;
}
